bin/
*.class
*.jar
MANIFEST.MF

integration_test.txt
system_test.txt
test_cases/**/*.log
test_cases/**/*.out


*.log
*.out
*.tmp
temp/
*.bak
*.swp
*.swo
hs_err_pid*

.vscode/
.idea/
*.iml
*.ipr
*.iws

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini


.mgit/
*.pack
*.idx

